button{
    background-color: #4CAF50;
    color: white;
    width: 100px;
    margin: 15px;
}

.button-container{
    position: absolute;
    top: 10%;
    left: 45%;

    display: flex;
    flex-direction: column;
}

#result{
    position: absolute;
    top: 60%;
    left: 45%;
    font-size: 20px;
    font: 1em sans-serif;
}